#header {
	min-height: 0 !important;
}

:root #browser {
	--stackBgAlpha: 0.4;
}

.auto-hide #browser {
	box-shadow: 0px 0px 7px -3px rgba(0, 0, 0, 0.6);
}

#browser.density-on:not(.fullscreen, .is-settingspage, .first-start).unified-ui #webpage-stack:not(:has(.tiled.visible, .internal.visible)):after {
	background-image: initial !important;
}

.density-on #tabs-subcontainer.left,
.density-on #tabs-subcontainer.right {
	background-color: var(--colorAccentFgAlphaHeavy);
	margin: 5px 0;
}

.panel-group {
	margin-top: 6px;
}

#tabs-subcontainer.left {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

#tabs-subcontainer.right {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.tabs-left #tabs-container {
	/* box-shadow: 4px 0px 10px -8px rgba(0, 0, 0, 0.2) */
}
.tabs-left .separator {
	max-width: 100%;
}

.tabs-left .separator hr {
	border-bottom: 0;
	border-color: initial;
	opacity: 0.3;
}

.tabs-left #tabs-tabbar-container .UrlBar-AddressField,
.tabs-right #tabs-tabbar-container .UrlBar-AddressField {
	margin: 6px 0 18px !important;
}

.tab.pinned {
	background-color: var(--colorAccentBgAlphaHeavy);
}
.accordion-toggle-arrow {
	z-index: 5;
	border-left: 1px solid var(--colorAccentBgFadedMost);
	border-right: 1px solid var(--colorAccentBgFadedMost);
	border-bottom: 1px solid var(--colorAccentBgFadedMost);
}
.tab .tab-header {
	z-index: 5 !important;
}

.tabs-left .svg-tab-stack {
	box-shadow: 0 3px 2px -1px rgba(0, 0, 0, 0.2);
	border-radius: 15px !important;
}

.tabs-left .tab:not(.tab-in-accordion, .tab-accordion),
.tabs-right .tab:not(.tab-in-accordion, .tab-accordion) {
	border-radius: 15px;
}

#browser .tab-position.colored .tab:not(.marked) + svg .stack-frame {
	stroke: var(--colorAccentBgFadedMost);
}

.svg-tab-stack .stack-frame {
	/*fill: var(--colorAccentBgAlphaHeavy);*/
	fill: var(--colorHighlightBgAlpha);
	stroke: var(--colorAccentBgFadedMost);
	stroke-width: 2px;
}

.tabs-left .button-toolbar.workspace-popup.tabbar-workspace-button {
	box-shadow: none;
	min-width: 100%;
}

#tabs-tabbar-container.left {
	box-shadow: inset -11px 0 4px -10px rgba(0, 0, 0, 0.1);
	padding-left: 4px;
	padding-right: 4px;
}

#tabs-tabbar-container.left:has(#tabs-subcontainer) {
	padding-right: 0;
}

#app .auto-hide-off #webpage-stack {
	margin: 6px;
}

#webpage-stack {
	border-radius: 6px !important;
	background-color: var(--colorBg) !important;
	box-shadow: 0px 0px 7px -3px rgba(0, 0, 0, 0.6);
	/*box-shadow: -5px 0 8px -5px rgba(0, 0, 0, 0.1);*/
}

.UrlField {
	justify-content: center !important;
}

.UrlField #urlFieldInput {
	text-align: center;
}

.alt.disable-titlebar.address-top#browser.tabs-left:not(.tabs-top) .vivaldi {
	top: initial;
}

.tabs-left .toolbar {
	top: 3px;
}

#footer {
	background-color: var(--colorAccentBg) !important;
	border-top-width: 0 !important;
}

#browser:not(.hasfocus) #footer  {
	background-color: var(--colorAccentBgFaded) !important;
}
