input {
	mod-key "Super"
	keyboard {
		xkb {
			layout "de"
			variant "mac_nodeadkeys"
			options "ctrl:swap_lalt_lctl_lwin,lv3:caps_switch,compose:caps"
			//options "lv3:caps_switch,compose:caps"
		}

		// Enable numlock on startup, omitting this setting disables it.
		numlock
	}

	// Next sections include libinput settings.
	// Omitting settings disables them, or leaves them at their default values.
	touchpad {
		// off
		tap
		dwt
		dwtp
		drag true
		// drag-lock
		// natural-scroll
		accel-speed 0.2
		accel-profile "flat"
		// scroll-method "two-finger"
		// disabled-on-external-mouse
	}

	mouse {
		// off
		accel-speed -0.7
		accel-profile "flat"
	}

	/-trackpoint {
		off
		natural-scroll
		accel-speed 0.2
		accel-profile "flat"
		scroll-method "on-button-down"
		scroll-button 273
		middle-emulation
	}
}

// Kanshi handles monitor stuff, this is just here as a fallback if
// something happens to kanshi (god forbid...)

/-output "eDP-1" {
	off
	mode "2560x1440@165.003"
	scale 1.12
	position x=0 y=0
}

output "DP-2" {
	focus-at-startup
	position x=0 y=0
}

output "HDMI-A-1" {
	position x=0 y=1080
}

// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {
	gaps 12

	center-focused-column "never"
	always-center-single-column

	empty-workspace-above-first

	tab-indicator {
		corner-radius 5
		inactive-color "gray"
	}

	preset-column-widths {
		proportion 0.33333
		proportion 0.5
		proportion 0.66667
	}

	// Alternatively, you can override it with a window rule called
	// `draw-border-with-background`.

	// You can change how the focus ring looks.
	focus-ring {
		// off
		width 2

		//active-color "#00d4ff"
		inactive-color "rgba(0, 0, 0, 0)"

		active-gradient from="#00d4ff" to="#fff239" angle=45
		//inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
	}

	border {
		//off

		width 1
		active-color "rgba(0, 0, 0, 0)"
		inactive-color "rgba(255, 255, 255, 0.25)"

		// Color of the border around windows that request your attention.
		urgent-color "#9b0000"

		// active-gradient from="#ffbb66" to="#ffc880" angle=45 relative-to="workspace-view"
		// inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
	}

	// You can enable drop shadows for windows.
	shadow {
		on
		draw-behind-window true
		offset x=0 y=0
		softness 25
		spread 0
		color "#0005"
	}

	struts {
		left 24
		right 24
		top -2
		bottom -2
	}
}

window-rule {
	geometry-corner-radius 3
	clip-to-geometry true
	draw-border-with-background true
}

hotkey-overlay {
	skip-at-startup
}

gestures {
	hot-corners {
		off
	}
}

cursor {
	xcursor-theme "Vimix-cursors"
	hide-when-typing
}

spawn-at-startup "xwayland-satellite"
spawn-at-startup "kwalletd6"
spawn-at-startup "mako"
//spawn-at-startup "kanshi"
spawn-at-startup "bbclip" "--silent"
spawn-at-startup "owncloud" "--quite"

environment {
	DISPLAY ":1"
	ELECTRON_OZONE_PLATFORM_HINT "auto"
	XDG_MENU_PREFIX "niri-"
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// Animation settings.
// The wiki explains how to configure individual animations:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations {
	// off
	// Slow down all animations by this factor. Values below 1 speed them up instead.
	slowdown 0.3
}

// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules

window-rule {
	match app-id=r#"^one\.alynx\.showmethekey$"# title="^Floating Window - Show Me The Key$"
	open-floating true
}
window-rule {
	match app-id=r#"^showmethekey-gtk$"#
	open-floating true
}

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
	// This regular expression is intentionally made as specific as possible,
	// since this is the default config, and we want no false positives.
	// You can get away with just app-id="wezterm" if you want.
	match app-id=r#"^org\.wezfurlong\.wezterm$"#
	default-column-width {}
}

window-rule {
	match app-id=r#"qjackctl$"#
	open-floating true
}

window-rule {
	match app-id=r#"firefox$"# title="^Picture-in-Picture$"
	open-floating true
}

window-rule {
	match app-id=r#""# title="^Picture in picture$"
	open-floating true
}

window-rule {
	match app-id=r#"love-"#
	open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
window-rule {
	match app-id=r#"^org\.keepassxc\.KeePassXC$"#
	match app-id=r#"^org\.gnome\.World\.Secrets$"#

	block-out-from "screen-capture"

	// Use this instead if you want them visible on third-party screenshot tools.
	// block-out-from "screencast"
}


binds {
	// Mod-Shift-/, which is usually the same as Mod-?,
	// shows a list of important hotkeys.
	Mod+Shift+Slash { show-hotkey-overlay; }

	Mod+Space { spawn "anyrun"; }
	Ctrl+Space { spawn "krunner"; }
	Mod+Ctrl+Alt+C { spawn "wl-color-picker"; }
	Ctrl+Alt+C { spawn "wl-color-picker" "clipboard"; }
	Ctrl+Shift+X { spawn "bbclip"; }
	Mod+A { spawn "~/.config/niri/toggle-ironbar.sh"; }


	Mod+T hotkey-overlay-title="Open a Terminal: ghostty" { spawn "ghostty"; }
	Mod+B {
		spawn "vivaldi-stable" "--password-store=kwallet6" "--ozone-platform=wayland";
	}
	Mod+D hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }
	Mod+Ctrl+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" {
		spawn "swaylock" "-i" "~/Pictures/Wallpapers/ScreenShot00021.png";
	}

	// --- Volume internal - tuxedo
	//XF86AudioRaiseVolume allow-when-locked=true {
	//	spawn "wpctl" "set-volume" "@DEFAULT_SINK@" "5%+"
	//}
	//XF86AudioLowerVolume allow-when-locked=true {
	//	spawn "wpctl" "set-volume" "@DEFAULT_SINK@" "5%-"
	//}
	//XF86AudioMute        allow-when-locked=true {
	//	spawn "wpctl" "set-mute" "@DEFAULT_SINK@" "toggle"
	//}

	// --- Volume Desktop sink
	XF86AudioRaiseVolume allow-when-locked=true {
		spawn "~/.config/niri/niri-volume.sh" "jack_out" "up";
	}
	XF86AudioLowerVolume allow-when-locked=true {
		spawn "~/.config/niri/niri-volume.sh" "jack_out" "down";
	}
	XF86AudioMute        allow-when-locked=true {
		spawn "pactl" "set-sink-mute" "jack_out" "toggle";
	}
	XF86AudioMicMute     allow-when-locked=true {
		spawn "pactl" "set-sink-mute" "jack_out" "toggle";
	}

	// --- VOLUME Discord sink
	Mod+Shift+XF86AudioRaiseVolume allow-when-locked=true {
		spawn "~/.config/niri/niri-volume.sh" "jack_out.2" "up";
	}
	Mod+Shift+XF86AudioLowerVolume allow-when-locked=true {
		spawn "~/.config/niri/niri-volume.sh" "jack_out.2" "down";
	}
	Mod+Shift+XF86AudioMute        allow-when-locked=true {
		spawn "pactl" "set-sink-mute" "jack_out.2" "toggle";
	}

	// --- VOLUME BGM sink
	Mod+XF86AudioRaiseVolume allow-when-locked=true {
		spawn "~/.config/niri/niri-volume.sh" "jack_out.3" "up";
	}
	Mod+XF86AudioLowerVolume allow-when-locked=true {
		spawn "~/.config/niri/niri-volume.sh" "jack_out.3" "down";
	}
	Mod+XF86AudioMute        allow-when-locked=true {
		spawn "pactl" "set-sink-mute" "jack_out.3" "toggle";
	}

	// --- Media keys
	XF86AudioPlay allow-when-locked=true { spawn "playerctl" "play-pause"; }
	XF86AudioNext allow-when-locked=true { spawn "playerctl" "next"; }
	XF86AudioPrev allow-when-locked=true { spawn "playerctl" "previous"; }

	// --- BRIGTHNESS LAPTOP
	XF86MonBrightnessUp allow-when-locked=true {
		spawn "brightnessctl" "s" "10%+";
	}
	XF86MonBrightnessDown allow-when-locked=true {
		spawn "brightnessctl" "s" "10%-";
	}

	// --- BRIGTHNESS MONITOR 1
	Mod+XF86MonBrightnessUp allow-when-locked=true {
		spawn "~/.config/niri/niri-brightness.sh" "i2c-0" "up";
	}
	Mod+XF86MonBrightnessDown allow-when-locked=true {
		spawn "~/.config/niri/niri-brightness.sh" "i2c-0" "down";
	}

	// --- BRIGTHNESS MONITOR 2
	Mod+Ctrl+XF86MonBrightnessUp allow-when-locked=true {
		spawn "~/.config/niri/niri-brightness.sh" "i2c-2" "up";
	}
	Mod+Ctrl+XF86MonBrightnessDown allow-when-locked=true {
		spawn "~/.config/niri/niri-brightness.sh" "i2c-2" "down";
	}

	Mod+O repeat=false { toggle-overview; }
	Alt+Tab repeat=false { toggle-overview; }

	//Ctrl+Q { close-window; }
	Mod+Q { close-window; }

	Mod+Left  { focus-column-left; }
	Mod+Down  { focus-window-down; }
	Mod+Up    { focus-window-up; }
	Mod+Right { focus-column-right; }
	Mod+H     { focus-column-left; }
	Mod+U     { focus-window-down; }
	Mod+I     { focus-window-up; }
	Mod+L     { focus-column-right; }

	Mod+Ctrl+Left  { move-column-left; }
	Mod+Ctrl+Down  { move-window-down; }
	Mod+Ctrl+Up    { move-window-up; }
	Mod+Ctrl+Right { move-column-right; }
	Mod+Shift+H     { move-column-left; }
	Mod+Shift+J     { move-window-down; }
	Mod+Shift+K     { move-window-up; }
	Mod+Shift+L     { move-column-right; }

	Mod+Home { focus-column-first; }
	Mod+End  { focus-column-last; }
	Mod+Ctrl+Home { move-column-to-first; }
	Mod+Ctrl+End  { move-column-to-last; }

	Mod+Shift+Left  { focus-monitor-left; }
	Mod+Shift+Down  { focus-monitor-down; }
	Mod+Shift+Up    { focus-monitor-up; }
	Mod+Shift+Right { focus-monitor-right; }
	Mod+Ctrl+H     { focus-monitor-left; }
	Mod+J     { focus-monitor-down; }
	Mod+K     { focus-monitor-up; }
	Mod+Ctrl+L     { focus-monitor-right; }

	Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
	Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
	Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
	Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
	Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
	Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
	Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
	Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

	// Alternatively, there are commands to move just a single window:
	// Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
	// ...

	// And you can also move a whole workspace to another monitor:
	// Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
	// ...

	Mod+Ctrl+J              { focus-workspace-down; }
	Mod+Ctrl+K              { focus-workspace-up; }
	Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
	Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
	Mod+Ctrl+Shift+U         { move-column-to-workspace-down; }
	Mod+Ctrl+Shift+I         { move-column-to-workspace-up; }

	// Alternatively, there are commands to move just a single window:
	// Mod+Ctrl+Page_Down { move-window-to-workspace-down; }
	// ...

	Mod+Shift+Page_Down { move-workspace-down; }
	Mod+Shift+Page_Up   { move-workspace-up; }
	Mod+Shift+U         { move-workspace-down; }
	Mod+Shift+I         { move-workspace-up; }

	Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
	Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
	Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
	Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

	Mod+WheelScrollRight      { focus-column-right; }
	Mod+WheelScrollLeft       { focus-column-left; }
	Mod+Ctrl+WheelScrollRight { move-column-right; }
	Mod+Ctrl+WheelScrollLeft  { move-column-left; }

	Mod+Shift+WheelScrollDown      { focus-column-right; }
	Mod+Shift+WheelScrollUp        { focus-column-left; }
	Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
	Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

	Mod+1 { focus-workspace 1; }
	Mod+2 { focus-workspace 2; }
	Mod+3 { focus-workspace 3; }
	Mod+4 { focus-workspace 4; }
	Mod+5 { focus-workspace 5; }
	Mod+6 { focus-workspace 6; }
	Mod+7 { focus-workspace 7; }
	Mod+8 { focus-workspace 8; }
	Mod+9 { focus-workspace 9; }
	Mod+Ctrl+1 { move-column-to-workspace 1; }
	Mod+Ctrl+2 { move-column-to-workspace 2; }
	Mod+Ctrl+3 { move-column-to-workspace 3; }
	Mod+Ctrl+4 { move-column-to-workspace 4; }
	Mod+Ctrl+5 { move-column-to-workspace 5; }
	Mod+Ctrl+6 { move-column-to-workspace 6; }
	Mod+Ctrl+7 { move-column-to-workspace 7; }
	Mod+Ctrl+8 { move-column-to-workspace 8; }
	Mod+Ctrl+9 { move-column-to-workspace 9; }

	// Alternatively, there are commands to move just a single window:
	// Mod+Ctrl+1 { move-window-to-workspace 1; }

	// Switches focus between the current and the previous workspace.
	Mod+Tab { focus-workspace-previous; }

	// The following binds move the focused window in and out of a column.
	// If the window is alone, they will consume it into the nearby column to the side.
	// If the window is already in a column, they will expel it out.
	Mod+BracketLeft  { consume-or-expel-window-left; }
	Mod+BracketRight { consume-or-expel-window-right; }

	// Consume one window from the right to the bottom of the focused column.
	Mod+Comma  { consume-window-into-column; }
	// Expel the bottom window from the focused column to the right.
	Mod+Period { expel-window-from-column; }

	Mod+R { switch-preset-column-width; }
	Mod+Shift+R { switch-preset-window-height; }
	Mod+Ctrl+R { reset-window-height; }
	Mod+F { maximize-column; }
	Mod+Shift+F { fullscreen-window; }
	Ctrl+Return { fullscreen-window; }
	Mod+Page_Up { maximize-column; }
	Mod+Return { maximize-column; }

	// Expand the focused column to space not taken up by other fully visible columns.
	// Makes the column "fill the rest of the space".
	Mod+Ctrl+F { expand-column-to-available-width; }

	Mod+C { center-column; }

	// Center all fully visible columns on screen.
	Mod+Ctrl+C { center-visible-columns; }

	// Finer width adjustments.
	// This command can also:
	// * set width in pixels: "1000"
	// * adjust width in pixels: "-5" or "+5"
	// * set width as a percentage of screen width: "25%"
	// * adjust width as a percentage of screen width: "-10%" or "+10%"
	// Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
	// set-column-width "100" will make the column occupy 200 physical screen pixels.
	Mod+Minus { set-column-width "-10%"; }
	Mod+Plus { set-column-width "+10%"; }

	// Finer height adjustments when in column with other windows.
	Mod+Shift+Minus { set-window-height "-10%"; }
	Mod+Shift+Plus { set-window-height "+10%"; }

	// Move the focused window between the floating and the tiling layout.
	Mod+V       { toggle-window-floating; }
	Mod+Shift+V { switch-focus-between-floating-and-tiling; }
	Ctrl+less { switch-focus-between-floating-and-tiling; }

	Mod+W { toggle-column-tabbed-display; }

	// Actions to switch layouts.
	// Note: if you uncomment these, make sure you do NOT have
	// a matching layout switch hotkey configured in xkb options above.
	// Having both at once on the same hotkey will break the switching,
	// since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
	// Mod+Space       { switch-layout "next"; }
	// Mod+Shift+Space { switch-layout "prev"; }

	Ctrl+Shift+4 { screenshot; }
	Ctrl+Shift+3 { screenshot-screen; }
	Alt+Shift+3 { screenshot-window; }
	//Print { screenshot; }
	//Ctrl+Print { screenshot-screen; }
	//Alt+Print { screenshot-window; }

	// Applications such as remote-desktop clients and software KVM switches may
	// request that niri stops processing the keyboard shortcuts defined here
	// so they may, for example, forward the key presses as-is to a remote machine.
	// It's a good idea to bind an escape hatch to toggle the inhibitor,
	// so a buggy application can't hold your session hostage.
	//
	// The allow-inhibiting=false property can be applied to other binds as well,
	// which ensures niri always processes them, even when an inhibitor is active.
	Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

	// The quit action will show a confirmation dialog to avoid accidental exits.
	Mod+Shift+E { quit; }
	Ctrl+Alt+Delete { quit; }

	// Powers off the monitors. To turn them back on, do any input like
	// moving the mouse or pressing any other key.
	Mod+Shift+P { power-off-monitors; }
}
