.container {
    font-family: VictorMono Nerd Font, San Francisco Display, MesloLGSDZ Nerd Font;
    /*  font-family: CaskaydiaCove Nerd Font; */
    /*  font-weight: bold; */
    font-size: 12px;
}

* {
	border: 0;
}

.background {
    background-color: rgba(0, 0, 0, 0);
}

.wlogout {
	padding-right: 10px;
    margin-top: 5px;
    margin-right: 36px;
    border-radius: 4px;
    color: #ff757f;
    background: #eee;
    opacity: 0.6;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 5px 2px;
	border-bottom: 1px solid #aaa;
	font-size: 14px;
}
.wlogout:hover {
    color: #7dcfff;
    background: #1a1b26;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    opacity: 0.6;
}
/* cpu */
.sysinfo .item:nth-child(1) {
    padding: 0px 10px;
    margin-top: 5px;
    margin-right: 0px;
    border-radius: 5px;
    color: #333;
    background: #eee;
    opacity: 0.6;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 5px 2px;
	border-bottom: 1px solid #aaa;
}
/* memory */
.sysinfo .item:nth-child(2) {
    padding: 0px 10px;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 5px;
    color: #333;
    background: #eee;
    opacity: 0.6;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 5px 2px;
	border-bottom: 1px solid #aaa;
}
/* temp */
.sysinfo .item:nth-child(3) {
    padding: 0px 10px;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 5px;
    color: #333;
    background: #eee;
    opacity: 0.6;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 5px 2px;
	border-bottom: 1px solid #aaa;
}
/* disk */
.sysinfo .item:nth-child(4) {
    padding: 0px 10px;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 5px;
    color: #333;
    background: #eee;
    opacity: 0.6;
    opacity: 0.6;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 5px 2px;
	border-bottom: 1px solid #aaa;
}
.volume {
    padding: 0px 10px;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 5px 2px;
    color: #333;
    background: #eee;
    opacity: 0.6;
	border-bottom: 1px solid #aaa;
}

.popup-volume {
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    color: #c0caf5;
    /* background: #1a1b26; */
    background-color: rgba(26, 27, 38, 0.9);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 5px 2px;
}

.popup-volume button {
	margin-top: 10px;
}

.clock {
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    color: #333;
    background: #eee;
    opacity: 0.6;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 5px 2px;
	border-bottom: 1px solid #aaa;
	font-weight: 500;
}

.clock_date {
    color: rgb(94, 129, 172);
}

.popup-clock {
    font-weight: bolder;
    background-color: rgba(26, 27, 38, 0.8);
    border-radius: 5px;
	padding: 15px;
}

.popup-clock .calendar-clock {
    color: #c0caf5;
    /*  font-size: 2.5em; */
    padding-bottom: 0.1em;
}

.popup-clock .calendar {
    background-color: rgba(26, 27, 38, 0.8);
    color: #c0caf5;
    border-radius: 5px;
}

.popup-clock .calendar .header {
    padding-top: 1em;
    border-top: 1px solid #424242;
    font-size: 1.5em;
}

.popup-clock .calendar:selected {
    background-color: #3d59a1;
}

.focused {
    padding: 0px 10px;
    margin-top: 5px;
    margin-right: 8px;
    margin-left: 36px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 5px 2px;
    color: #333;
    background: #eee;
	opacity: 0.6;
    /* top right bottom left */
	border-bottom: 1px solid #aaa;
}

.clipboard {
    padding: 0px 10px;
    margin-top: 5px;
    margin-right: 8px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 5px 2px;
    color: #9abdf5;
    background: #1a1b26;
    opacity: 0.6;
}

.popup-clipboard {
    margin-left: 5px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    color: #c0caf5;
    background: #1a1b26;
    background-color: rgba(26, 27, 38, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 5px 2px;
}

.tray, .upower, .network_manager {
    padding: 0px 10px 0px 10px;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 5px;
    color: #333;
    background: #eee;
	opacity: 0.6;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 5px 2px;
	border-bottom: 1px solid #aaa;
}

.tray .item {
	margin: 0 5px;
}

.tray:hover {
    color: #c3e88d;
    background: #1a1b26;
    border-radius: 5px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    opacity: 0.6;
}

.script {
    padding: 0px 10px 0px 10px;
    margin-top: 5px;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 5px;
    color: #9abdf5;
    background: #1a1b26;
    opacity: 0.6;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 5px 2px;
}

.script:hover {
    color: #7dcfff;
    background: #1a1b26;
    transition: all 0.3s ease-in-out;
    opacity: 0.6;
}

.popup-custom {
    margin: 0 5px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    color: #c0caf5;
    background: #1a1b26;
    background-color: rgba(26, 27, 38, 0.8);
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 5px 2px;
}
.popup-custom button {
	border-radius: 5px;
	margin: 5px
}

.music {
    border-radius: 5px;
    padding: 0px 10px;
    margin-top: 5px;
    margin-right: 7px;
    margin-left: 10px;
    color: #333;
    background: #eee;
	opacity: 0.6;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 5px 2px;
	border-bottom: 1px solid #aaa;
}
.popup-music {
    margin-left: 5px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    color: #c0caf5;
    background: #1a1b26;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 5px 2px;
}

.popup-music button {
	margin-right: 6px;
	font-size: 12px;
}

.popup-music.volume {
}
.popup-music .volume .slider {
    padding: 2px 2px 2px 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
.popup-music .volume .icon {
}

tooltip.background {
    background-color: rgba(00, 00, 00, 0.5);
    font-size: 18px;
    border-radius: 5px;
    color: #fdfdfd;
}

tooltip * {
    padding: 4px;
    background-color: transparent;
    color: white;
}

.host tooltip {
    background-color: rgba(255, 00, 00, 0.5);
}
