* {
}

tabbar * {
	border-radius: 0px;
	transition: 0;
	padding-left: 50%;
}

tabbar tabbox {
	margin: 0;
	padding: 0;
	min-height: 20px;
	background: #1D2227;
}

tabbar tabbox tab {
	margin: 0;
	padding: 0;
}

tabbar tabbox tab:selected {
	background-color: #2e3842;
	color: #ffffff;
}

tabbar tabbox tab label {
	color: #aaa;
}

tabbar tabbox tab:selected label {
	color: #eee;
	font-weight: 500;
}
